.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1.5px solid rgba(132, 122, 122, 0.244);
    width: 100%;
}
.tinder-logo{
    object-fit: contain;
    height: 40px;
}
.header-icon{
    padding:12px;
}